*.pyc
*/*.egg-info/
*/*.tar.gz
*/.cache/
*/.eggs/
*/__pycache__/
*/build/
*/deb_dist/
*/dist/

# Compiled code which doesn't end in '.pyc'
sonic-thermalctld/scripts/thermalctldc
sonic-chassisd/scripts/chassisdc
sonic-psud/scripts/psudc

# Unit test / coverage reports
coverage.xml
.coverage
htmlcov/